html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  background: url("../pictures/background/background-body.png") repeat ;
  font-family: "Oswald-Regular";
}
.container {
  width: 960px;
  margin: 0 auto;
}
.header {
  padding-top: 23px;
}
.header-clearFix::after {
  content: '';
  display: block;
  clear: both;
  margin-bottom: 23px;
}
.header-clearFix {
  border: 0px solid red;
}
.header-clearFix-logo {
  float: left;
  width: 163px;
  height: 41px;
  background: url("../pictures/logo/logo.png") no-repeat ;
}
.header-clearFix-search {
  float: right;
  font-size: 0;
}
.header-clearFix-search input {
  vertical-align: top;
  padding: 9px;
  font-family: "Tahoma-Regular";
  font-size: 12px;
  border: 1px solid #e7e7e7;
  border-right: none;
  background-color: #f3f3f3;
}
.header-clearFix-search button {
  font-family: "Tahoma-Regular";
  background-color: #29c5e6;
  text-transform: uppercase;
  color: white;
  font-size: 14px;
  line-height: 32px;
  border: none;
  height: 37.5px;
  width: 42px;
}
.header .primary-menu {
  width: 100%;
  display: flex;
  border: 0px solid red;
  align-items: stretch;
}
.header .primary-menu-sectionUnactive,
.header .primary-menu-sectionActive {
  height: 40px;
  flex: 1;
}
.header .primary-menu-sectionUnactive a,
.header .primary-menu-sectionActive a {
  box-sizing: border-box;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  padding-top: 13.5px;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #f3f3f3;
  font-family: "Oswald-Regular";
  color: #b2b2b2;
  text-decoration: none;
  box-shadow: 0 0 10px;
}
.header .primary-menu-sectionActive a {
  color: #ffffff;
  background-color: #29c5e6;
}
.blockBanner {
  margin-top: 35px;
  width: 100%;
}
.blockBanner-banner {
  position: relative;
  top: 0px;
  left: 0px;
  font-family: "Oswald-light";
  overflow: hidden;
  height: 300px;
}
.blockBanner-banner img {
  background-size: cover;
  width: 100%;
}
.blockBanner-banner-sliderText {
  position: absolute;
  top: 45px;
  left: 35px;
}
.blockBanner-banner-sliderText-bigText {
  color: #5a5a5a;
  font-size: 43.13px;
}
.blockBanner-banner-sliderText-smalText {
  color: #b0b0b0;
  font-size: 18px;
  margin-top: 8.5px;
}
.blockBanner .blockBanner-panel {
  counter-reset: li;
  width: 100%;
  border: 0px solid red;
  display: inline-block;
  height: 50px;
  background-color: #f3f3f3;
  box-sizing: border-box;
}
.blockBanner .blockBanner-panel-itemActive,
.blockBanner .blockBanner-panel-itemUnActive {
  display: inline-block;
  width: 236px;
  font-size: 18px;
  text-transform: uppercase;
}
.blockBanner .blockBanner-panel-itemActive a,
.blockBanner .blockBanner-panel-itemUnActive a {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  font-family: "Oswald-light";
  color: #9c9c9c;
  line-height: 50px;
}
.blockBanner .blockBanner-panel-itemActive a:hover,
.blockBanner .blockBanner-panel-itemUnActive a:hover {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  font-family: "Oswald-light";
  color: #29c5e6;
  line-height: 50px;
}
.blockBanner .blockBanner-panel-itemActive a::before,
.blockBanner .blockBanner-panel-itemUnActive a::before {
  counter-increment: li;
  content: counter(li);
  display: inline-block;
  width: 24px;
  height: 24px;
  color: #fff;
  background-color: #8f8f8f;
  margin: 0 12px;
  text-align: center;
  line-height: 24px;
  font-size: 16px;
}
.blockBanner .blockBanner-panel-itemActive a:hover:before,
.blockBanner .blockBanner-panel-itemUnActive a:hover:before {
  counter-increment: li;
  content: counter(li);
  display: inline-block;
  width: 24px;
  height: 24px;
  color: #fff;
  background-color: #29c5e6;
  margin: 0 12px;
  text-align: center;
  line-height: 24px;
  font-size: 16px;
}
.blockBanner .blockBanner-panel-itemActive a {
  box-shadow: 0 0 10px;
  color: #29c5e6;
}
.mainContent {
  padding: 0 10px;
  margin-bottom: 35px;
  font-size: 0px;
  margin-top: 32px;
  font-family: "Tahoma-Regular";
}
.mainContent .line1 {
  margin-bottom: 40px;
}
.mainContent .line1-box {
  margin-right: 20px;
  display: inline-block;
}
.mainContent .line1-box:last-child {
  margin-right: 0;
}
.mainContent .line1-box {
  width: 460px;
  height: 170px;
}
.mainContent .line1-box-header {
  position: relative;
  width: 100%;
  font-size: 14px;
  color: #7e7e7e;
  overflow: hidden;
  font-family: "Oswald-Regular";
}
.mainContent .line1-box-header::before {
  display: inline-block;
  content: "";
  width: 14px;
  height: 14px;
  background-color: #29c5e6;
  margin-right: 5px;
}
.mainContent .line1-box-header::after {
  overflow: hidden;
  position: absolute;
  display: inline-block;
  content: "";
  width: 100%;
  height: 15px;
  background: url("../pictures/background/headertitleback.png") repeat ;
}
.mainContent .line1-box-header span {
  vertical-align: top;
  margin-right: 10px;
}
.mainContent .line1-box-header {
  margin-bottom: 14.5px;
}
.mainContent .line1-box-picture {
  display: block;
  float: left;
  width: 140px;
  height: 140px;
  background-color: gray;
  margin-right: 20px;
}
.mainContent .line1-box-text {
  display: block;
  float: left;
  width: 300px;
  height: 110px;
  margin-bottom: 19px;
  font-size: 12px;
  color: #8f8f8f;
  overflow: hidden;
  line-height: 16px;
  vertical-align: top;
}
.mainContent .line1-box-link {
  font-size: 12px;
  display: block;
  float: left;
  text-decoration: none;
  text-transform: capitalize;
  color: #525252;
  font-weight: bold;
}
.mainContent .line2 {
  margin-bottom: 40px;
}
.mainContent .line2-box {
  margin-right: 20px;
  display: inline-block;
}
.mainContent .line2-box:last-child {
  margin-right: 0;
}
.mainContent .line2-box {
  width: 290px;
  height: 178px;
}
.mainContent .line2-box-header {
  position: relative;
  width: 100%;
  font-size: 14px;
  color: #7e7e7e;
  overflow: hidden;
  font-family: "Oswald-Regular";
}
.mainContent .line2-box-header::before {
  display: inline-block;
  content: "";
  width: 14px;
  height: 14px;
  background-color: #29c5e6;
  margin-right: 5px;
}
.mainContent .line2-box-header::after {
  overflow: hidden;
  position: absolute;
  display: inline-block;
  content: "";
  width: 100%;
  height: 15px;
  background: url("../pictures/background/headertitleback.png") repeat ;
}
.mainContent .line2-box-header span {
  vertical-align: top;
  margin-right: 10px;
}
.mainContent .line2-box-header {
  margin-bottom: 18px;
}
.mainContent .line2-box-text {
  display: block;
  float: left;
  width: 300px;
  height: 108px;
  margin-bottom: 25px;
  font-size: 12px;
  color: #8f8f8f;
  overflow: hidden;
  line-height: 16px;
  vertical-align: top;
}
.mainContent .line2-box-link {
  font-size: 12px;
  display: block;
  float: left;
  text-decoration: none;
  text-transform: capitalize;
  color: #525252;
  font-weight: bold;
}
.mainContent .line2-box .users-user {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  font-size: 11px;
}
.mainContent .line2-box .users-user:first-child {
  margin-top: 21px;
}
.mainContent .line2-box .users-user:last-child {
  margin-bottom: 0px;
}
.mainContent .line2-box .users-user-img {
  display: block;
  float: left;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.mainContent .line2-box .users-user-name {
  color: #525252;
  text-transform: uppercase;
  vertical-align: top;
  width: 240px;
  display: block;
  float: left;
  margin-bottom: 6px;
}
.mainContent .line2-box .users-user-info {
  color: #8f8f8f;
  width: 240px;
  display: block;
  float: left;
  height: 24px;
  overflow: hidden;
  line-height: 12px;
}
.mainContent .line3-box {
  width: 100%;
  height: 50px;
}
.footer {
  width: 100%;
  height: 110px;
  background-color: #7e7e7e;
  font-family: "Tahoma-Regular";
}
.footer .container {
  padding: 10px 0 10px 10px;
  box-sizing: border-box;
  height: 100%;
}
.footer .container-logo2 {
  color: #dbdbdb;
  float: right;
  margin-top: 10px;
  background: url("../pictures/logo/logobackground.png") no-repeat top right;
  padding-top: 52px;
}
.footer .container-logo2 p {
  font-size: 10px;
}
.footer .container-logo2 p a {
  color: #dbdbdb;
}
.footer .container-logo1 {
  float: left;
  height: 100%;
}
.footer .container-logo1-box1 {
  height: 100%;
  display: inline-block;
  margin-left: 17px;
  vertical-align: top;
  width: 300px;
}
.footer .container-logo1-box1:first-child {
  margin-left: 0px;
}
.footer .container-logo1-box1-header {
  display: block;
  width: 100%;
  border-bottom: 1px solid #919191;
  padding-bottom: 5px;
  font-family: "Oswald-Regular";
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
}
.footer .container-logo1-box1-header {
  margin-bottom: 5px;
}
.footer .container-logo1-box1-link {
  font-size: 11px;
  color: #ada8a8;
  padding-left: 2px;
}
.footer .container-logo1-box1-text {
  color: #c2c2c2;
  height: 40px;
  display: block;
  overflow: hidden;
  font-size: 11px;
  line-height: 14px;
  margin-top: 8px;
  padding-left: 2px;
}
.footer .container-logo1-box2 {
  height: 100%;
  display: inline-block;
  margin-left: 17px;
  vertical-align: top;
  width: 152px;
}
.footer .container-logo1-box2:first-child {
  margin-left: 0px;
}
.footer .container-logo1-box2-header {
  display: block;
  width: 100%;
  border-bottom: 1px solid #919191;
  padding-bottom: 5px;
  font-family: "Oswald-Regular";
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
}
.footer .container-logo1-box2-header {
  margin-bottom: 8px;
}
.footer .container-logo1-box2-menu {
  display: flex;
  height: 55px;
  flex-wrap: wrap;
}
.footer .container-logo1-box2-menu-local {
  width: 50%;
}
.footer .container-logo1-box2-menu-local a {
  text-decoration: none;
  text-transform: capitalize;
  color: #dbdbdb;
}
.footer .container-logo1-box3 {
  height: 100%;
  display: inline-block;
  margin-left: 17px;
  vertical-align: top;
  width: 112px;
}
.footer .container-logo1-box3:first-child {
  margin-left: 0px;
}
.footer .container-logo1-box3-header {
  display: block;
  width: 100%;
  border-bottom: 1px solid #919191;
  padding-bottom: 5px;
  font-family: "Oswald-Regular";
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
}
.footer .container-logo1-box3-header {
  margin-bottom: 8px;
}
.footer .container-logo1-box3-bigIcons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 9px;
}
.footer .container-logo1-box3-bigIcons-icon {
  background: url("../pictures/sprites/spriteIcon.png") no-repeat ;
}
.footer .container-logo1-box3-bigIcons-icon a {
  display: block;
  width: 100%;
  height: 100%;
}
.footer .container-logo1-box3-bigIcons-icon {
  height: 30px;
  width: 30px;
}
.footer .container-logo1-box3-bigIcons-icon.telegram {
  background-position: 0px 0;
}
.footer .container-logo1-box3-bigIcons-icon.facebook {
  background-position: -30px 0;
}
.footer .container-logo1-box3-bigIcons-icon.google {
  background-position: -60px 0;
}
.footer .container-logo1-box3-smallIcons {
  display: flex;
  justify-content: space-between;
}
.footer .container-logo1-box3-smallIcons-icon {
  background: url("../pictures/sprites/spriteIcon.png") no-repeat ;
}
.footer .container-logo1-box3-smallIcons-icon a {
  display: block;
  width: 100%;
  height: 100%;
}
.footer .container-logo1-box3-smallIcons-icon {
  height: 16px;
  width: 16px;
}
.footer .container-logo1-box3-smallIcons-icon.v {
  background-position: 0px -30px;
}
.footer .container-logo1-box3-smallIcons-icon.youtube {
  background-position: -16px -30px;
}
.footer .container-logo1-box3-smallIcons-icon.balloons {
  background-position: -32px -30px;
}
.footer .container-logo1-box3-smallIcons-icon.cannon {
  background-position: -48px -30px;
}
.footer .container-logo1-box3-smallIcons-icon.antenna {
  background-position: -64px -30px;
}
@font-face {
  font-family: "Oswald-Light";
  src: url(../fonts/Oswald-Light.ttf);
}
@font-face {
  font-family: "Oswald-Regular";
  src: url(../fonts/Oswald-Regular.ttf);
}
@font-face {
  font-family: "Tahoma-Regular";
  src: url(../fonts/Oswald-Light.ttf);
}
#upper {
  background-color: #7e7e7e;
  height: 5px;
}
