@backgroundColoreLayout: #7e7e7e;
@mainBlockWidth: 960px;
@sectionColoreLight: #ffc2ee;
@sectionColoreBlack: #ffffff;
@sectionColoreBox: #ea7bce;

@headerTitleFontSize: 2rem;
@headerBoxMargin: 10px;

@pathToIcon: "../img/icon/";
 @iconW: 150px;
 @iconH: 100px;

@hSize: 20px;
